name: SE333 CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Run Checkstyle
        working-directory: Assignment5_Code
        run: mvn -B checkstyle:checkstyle

      - name: Upload Checkstyle Report
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: Assignment5_Code/target/checkstyle-result.xml


      - name: Run Tests & JaCoCo
        working-directory: Assignment5_Code
        run: mvn -B verify

      - name: Upload JaCoCo Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: Assignment5_Code/target/site/jacoco/jacoco.xml